{% extends "base.html" %} {% block content %}
<div
  class="container"
  style="direction: rtl; text-align: right; margin-top: 30px"
>
  <h1 class="display-4 mb-4">
    <strong>ארנונה</strong>
  </h1>

  <p class="mb-3">
    <strong>מהי ארנונה?</strong><br />
    ארנונה היא מס מוניציפלי שנגבה על ידי הרשויות המקומיות בישראל. המס מוטל על
    נכסי דלא ניידי (נכסים שאינם ניתנים להעברה, כמו מבנים וקרקעות) ומשולם על ידי
    בעלי הנכסים או השוכרים. גובה הארנונה נקבע על פי שטח הנכס, שימושו (מגורים,
    מסחר, תעשייה וכו') ומיקומו. כספי הארנונה משמשים למימון שירותים מוניציפליים
    כמו ניקיון, תברואה, חינוך, תחזוקת כבישים ותשתיות ציבוריות.
  </p>

  <img
    src="{{ url_for('static', filename='arnona.jpg') }}"
    class="img-fluid border rounded-3 shadow-lg mb-4"
    alt="Arnona example"
    width="500"
    height="500"
  />

  <p class="mb-sm-3" style="font-size: 0.8em; color: grey">
    * דוגמא לטופס ארנונה של עיריית תל אביב
  </p>

  <p class="mb-3" style="font-size: 24px;">
    <strong>פטור מארנונה לחיילים משוחררים</strong>
  </p>

  <p class="mb-3">
    חיילים משוחררים זכאים לפטור מתשלום ארנונה למשך ארבעה חודשים מיום שחרורם
    משירות חובה.<br> פטור זה נועד להקל על החיילים את המעבר לחיים האזרחיים ולהפחית את
    הוצאות המחיה בתקופה הראשונית לאחר השחרור. <br>הפטור ניתן עבור דירת מגורים אחת
    שבה רשום המשוחרר כבעלים או כשוכר.
  </p>

  <p class="mb-3">
    <strong>זכאות ותנאים</strong><br />
    חיילים משוחררים עד ארבעה חודשים מיום שחרורם משירות חובה.<br />
    החייל רשום כשוכר או כבעל דירה.<br />
    בדירות שבהן מתגוררים חמישה אנשים או יותר, הפטור חל על 90 מ"ר משטח הדירה.
  </p>

  <p class="mb-3">
    <strong>תהליך מימוש הזכות</strong><br />
    כדי לממש את הזכות לפטור מארנונה, יש לפנות לאגף לגביית ארנונה ברשות המקומית
    שבתחומה מתגוררים, ולמלא טופס בקשה להנחה בארנונה.<br />
    לטופס יש לצרף אישורים נדרשים כגון:
    <br />
    הסכם שכירות או רכישה.<br />
    אישור מצה"ל על השירות הסדיר או תעודת שחרור (טופס 830) ניתן להשיג
    <a
      href="https://ishurim.prat.idf.il/Account/Login?ReturnUrl=%2f%3fAspxAutoDetectCookieSupport%3d1&AspxAutoDetectCookieSupport=1"
      target="_blank"
      style="text-decoration: underline"
      >באתר האישורים של צהל</a
    >.
  </p>
  <p class="mb-3">
    באתרי האינטרנט של רשויות מקומיות רבות ניתן למצוא טפסים אותם אפשר להוריד
    ולמלא מראש.<br />
    לדוגמה, באתר עיריית תל אביב ניתן להגיש את הבקשה באופן מקוון.
  </p>
  <p class="mb-3">
    <strong>ערעור</strong><br />
    במידה ויש צורך לערער על החלטת הרשות המקומית בנושא הארנונה, ניתן לפנות לגזבר
    הרשות המקומית.
  </p>

  <p class="mb-5">
    <strong>מידע נוסף</strong><br />
    ההטבה ניתנת במהלך חודשי שירות החובה וגם במשך ארבעה חודשים מיום השחרור.<br />
    חיילים שהשתחררו משירות קבע ואינם במסגרת ארבעת החודשים שלאחר תום שירות החובה
    שלהם אינם זכאים להטבה.<br />
    מומלץ לבדוק הטבות נוספות ברשות המקומית שבה מתגוררים.
  </p>

  <p class="mb-4">
    למידע נוסף, ניתן לבקר באתר משרד הפנים:
    <a href="https://www.moin.gov.il/" target="_blank">לחצו כאן</a>.
  </p>

  <a href="{{ url_for('page', page_id=5) }}" class="btn btn-primary"
    >עמוד הבא</a
  >
  <a href="{{ url_for('page', page_id=3) }}" class="btn btn-secondary"
  >חזור לעמוד הקודם</a>
</div>
</div>
{% endblock %}
