{% extends "base.html" %}
{% block content %}
<div class="container" style="direction: rtl; text-align: right; margin-top: 30px">
  <h1 class="display-4 mb-4">
    <strong>דמי ביטוח לאומי ודמי ביטוח בריאות</strong>
  </h1>

  <p class="mb-3">בישראל ישנם שני סוגים עיקריים של תשלומים לביטוח הלאומי: דמי ביטוח לאומי ודמי ביטוח בריאות. <br> הנה ההבדלים העיקריים בין השניים:</p>
<br>
<img
src="{{ url_for('static', filename='Social_Security&Health_insurance.png') }}"
class="img-fluid border rounded-3 shadow-lg mb-4"
alt="Tax Credit example"
width="800"
height="800"
/>

  <p class="mb-3" style="font-size: 24px;"><br />
    <strong>פטור זמני מתשלום דמי ביטוח לאומי ודמי ביטוח בריאות לחיילים משוחררים</strong><br />
    <ul>
      <li>חיילים משוחררים פטורים מתשלום דמי ביטוח לאומי ודמי ביטוח בריאות בחודשיים הראשונים אחרי החודש שבו השתחררו.
      </li>
      <br>
      <li><strong>מי זכאי:</strong> חיילים שהשתחררו משירות חובה שעונים על כל התנאים הבאים:
        <ul>
          <li>לא עובדים כשכירים או כעצמאים.</li>
          <li>הכנסות שלא מעבודה לא עולות על 627 ₪ לחודש.</li>
          <li>שירתו בשירות חובה לפחות 2/3 מתקופת השירות שנדרשת בחוק ולא שוחררו מסיבות של אי התאמה בשל התנהגות רעה, או שוחררו מסיבות בריאותיות או בגלל נכות שנקבעה על-פי חוק הנכים.</li>
        </ul>
      </li>
      <br>
      <li><strong>דוגמה:</strong> חייל השתחרר משירות חובה ב-12 בפברואר. דמי הביטוח עבור החודש שבו השתחרר (פברואר) משולמים על-ידי הצבא. עבור החודשיים הבאים (מרץ-אפריל) החייל יהיה פטור מתשלום דמי ביטוח אם הוא עונה על תנאי הזכאות.</li>
      <br>
      <li><strong>תהליך מימוש הזכות:</strong>
        <ul>
          <li>הפטור ניתן באופן אוטומטי, לאחר שרשימות הזכאים מועברות למוסד לביטוח לאומי ממשרד הביטחון ורשות השירות הלאומי-אזרחי.</li>
          <li>מי שזכאים לפטור ושילמו את דמי הביטוח אחרי השחרור זכאים להחזר מהמוסד לביטוח לאומי. עליהם לפנות למדור גבייה בסניף המוסד לביטוח לאומי הקרוב.</li>
          <li>בתום החודשיים עליהם להסדיר את התשלום בהתאם לעיסוקם (עובדים, סטודנטים וכו'). למידע נוסף ראו דרכים לתשלום <a href="https://www.kolzchut.org.il/he/%D7%93%D7%A8%D7%9B%D7%99%D7%9D_%D7%9C%D7%AA%D7%A9%D7%9C%D7%95%D7%9D_%D7%93%D7%9E%D7%99_%D7%94%D7%91%D7%99%D7%98%D7%95%D7%97_%D7%94%D7%9C%D7%90%D7%95%D7%9E%D7%99" target="_blank">דמי הביטוח הלאומי.</a></li>
        </ul>
      </li>
      <br>
      <li><strong>חשוב לדעת:</strong>
        <ul>
          <li>חיילים שהשתחררו משירות קבע אינם זכאים לפטור.</li>
          <li>הפטור חל על מי שעונים על תנאי הזכאות והשתחררו מ-21.12.2014 ואילך.</li>
        </ul>
      </li>
    </ul>
    למידע נוסף ראו באתר <a href="https://www.btl.gov.il/Pages/default.aspx" target="_blank">המוסד לביטוח לאומי.</a>
  </p>
  
  <a href="{{ url_for('page', page_id=7) }}" class="btn btn-primary">עמוד הבא</a>
  <a href="{{ url_for('page', page_id=5) }}" class="btn btn-secondary">חזור לעמוד הקודם</a>
</div>
{% endblock %}
