{% extends "base.html" %} {% block content %}
<div
  class="container"
  style="direction: rtl; text-align: right; margin-top: 30px"
>
  <h1 class="display-4 mb-4">
    <strong>נקודות זיכוי ממס הכנסה לחיילים משוחררים</strong>
  </h1>

  <p class="mb-3">
    <strong>מה זה מס הכנסה?</strong><br />
    מס הכנסה הוא תשלום שהמדינה גובה מאנשים על ההכנסות שלהם, כמו משכורות, רווחים
    מעסקים ועוד. הכסף הזה משמש את המדינה למימון שירותים ציבוריים כמו חינוך,
    בריאות, תחבורה ועוד.
  </p>

  <p class="mb-3">
    <strong>מה זה נקודות זיכוי?</strong><br />
    נקודות זיכוי הן הנחה במס הכנסה שמקבלים אנשים על פי תנאים שונים, כמו מצב
    משפחתי, מגורים בישראל ועוד. כל נקודת זיכוי מורידה את סכום המס שצריך לשלם.
    לדוגמה, בשנת 2024, כל נקודת זיכוי שווה 242 ש"ח לחודש או 2,904 ש"ח לשנה.
  </p>

  <p class="mb-3">
    <strong
      >זכאות לנקודות זיכוי לחיילים משוחררים ומסיימי שירות לאומי-אזרחי</strong
    ><br />
    חיילים שהשתחררו משירות חובה ומסיימי שירות לאומי-אזרחי זכאים לנקודות זיכוי
    במס הכנסה על הכנסותיהם האישיות למשך 36 חודשים (3 שנים) לאחר השחרור. זה אומר
    שהם ישלמו פחות מס הכנסה במהלך התקופה הזאת.
  </p>

  <p class="mb-3">
    <strong>ערך ההטבה</strong><br />
    מי שזכאי לנקודת זיכוי אחת יקבל הנחה של 242 ש"ח לחודש (2,904 ש"ח לשנה).<br />
    מי שזכאי לשתי נקודות זיכוי יקבל הנחה של 484 ש"ח לחודש (5,808 ש"ח לשנה).
  </p>

  <p class="mb-3">
    <strong>תנאי הזכאות</strong><br />
    הזכאות לנקודות זיכוי נקבעת לפי אורך השירות:
  </p>

  <img
    src="{{ url_for('static', filename='mas-hachnasa-points.png') }}"
    class="img-fluid border rounded-3 shadow-lg mb-4"
    alt="Tax Credit example"
    width="500"
    height="500"
  />

  <p class="mb-3">
    חיילת ששירתה 20 חודשים: תקבל נקודת זיכוי אחת (242 ש"ח לחודש) למשך 36 חודשים
    מהחודש שלאחר השחרור.<br />
    חייל ששירת 3 שנים: יקבל שתי נקודות זיכוי (484 ש"ח לחודש) למשך 36 חודשים
    מהחודש שלאחר השחרור.
  </p>

  <p class="mb-3">
    <strong>תהליך מימוש הזכות</strong><br />
    <strong>שכירים:</strong> צריכים למלא טופס 101 ולמסור אותו למעסיק בתחילת שנת
    המס. יש לצרף תעודת שחרור או סיום שירות.<br />
    <strong>עצמאים:</strong> ימלאו את הפרטים הרלוונטיים בצירוף תעודת שחרור/סיום
    שירות כאשר יגישו בסוף השנה את הדוח השנתי למס הכנסה.
  </p>

  <p class="mb-3">
    <strong>מידע נוסף</strong><br />
    ההטבה ניתנת בנוסף ל-2.25 נקודות הזיכוי שניתנות לכל תושב ישראל.<br />
    חיילים משוחררים שעבדו במקום עבודה מסוים לפני הגיוס זכאים לחזור לאותו מקום
    עבודה לאחר השחרור.<br />
    לפרטים נוספים ניתן לבקר באתר האגף והקרן לחיילים משוחררים ובאתר רשות המסים.
  </p>

  <p class="mb-4">
    למידע נוסף, ניתן לבקר באתר רשות המסים:
    <a href="https://www.misim.gov.il/" target="_blank">לחצו כאן</a>.
  </p>

  <a href="{{ url_for('page', page_id=4) }}" class="btn btn-primary"
    >עמוד הבא</a
  >
  <button onclick="window.history.back()" class="btn btn-secondary">
    חזור לעמוד הקודם
  </button>
</div>
{% endblock %}
