{% extends "base.html" %} 
{% block content %}
<div class="container" style="direction: rtl; text-align: right; margin-top: 30px">
  <h1 class="display-4 mb-4">
    <strong>מס הכנסה ונקודות זיכוי</strong>
  </h1>

  <p class="mb-3">
    <strong>מה זה מס הכנסה?</strong><br />
    מס הכנסה הוא תשלום שהמדינה גובה מאנשים על הכנסותיהם, כמו משכורות, רווחים
    מעסקים ועוד. הכסף הזה משמש את המדינה למימון שירותים ציבוריים כמו חינוך,
    בריאות, תחבורה ועוד.
  </p>

  <p class="mb-3">
    בישראל, חובת תשלום מס הכנסה מתחילה מהשקל הראשון, אך שיעורי המס משתנים לפי מדרגות הכנסה שנתיות. <br> בשנת 2024, מדרגות המס הן כדלקמן:
  </p>

  <img
  src="{{ url_for('static', filename='tax-steps.png') }}"
  class="img-fluid border rounded-3 shadow-lg mb-4"
  alt="Tax Credit example"
  width="500"
  height="500"
/>

  <p class="mb-3">
    <strong>חישוב המס ללא נקודות זיכוי:</strong><br />
    נניח שההכנסה השנתית שלך היא 144,000 ש"ח, ולפי מדרגות המס:
    <ul>
      <li>על 84,120 ש"ח הראשונים אתה משלם 10%: 8,412 ש"ח.</li>
      <li>על 36,600 ש"ח הבאים אתה משלם 14%: 5,124 ש"ח.</li>
      <li>על 23,280 ש"ח הנותרים אתה משלם 20%: 4,656 ש"ח.</li>
    </ul>
    סך הכל המס לפי המדרגות הוא: 8,412 + 5,124 + 4,656 = 18,192 ש"ח.
  </p>

  <p class="mb-3">
    <strong>מה זה נקודות זיכוי?</strong><br />
    נקודות זיכוי הן הנחה במס הכנסה שמקבלים אנשים על פי תנאים שונים, כמו מצב
    משפחתי, תושבות ועוד. כל נקודת זיכוי מורידה את סכום המס שצריך לשלם.
    לדוגמה, בשנת 2024, כל נקודת זיכוי שווה 242 ש"ח לחודש או 2,904 ש"ח לשנה.
  </p>

  <p class="mb-3">
    <strong>הפחתת המס לפי נקודות זיכוי:</strong><br />
    <strong>חישוב ערך נקודת הזיכוי:</strong><br />
    כל נקודת זיכוי לשנת 2024 שווה 242 ש"ח לחודש, כלומר 2,904 ש"ח לשנה.
    <br />
    <strong>סך ערך נקודות הזיכוי:</strong><br />
    אם יש לך 4 נקודות זיכוי, הסכום השנתי יהיה 4 * 2,904 ש"ח = 11,616 ש"ח לשנה.
    <br />
    <strong>הפחתה מהמס השנתי:</strong><br />
    את סך ערך נקודות הזיכוי יש להפחית מסכום המס השנתי המחושב לפי מדרגות המס.
    <br />
    <strong>חישוב המס החדש:</strong><br />
    לאחר הפחתת סכום נקודות הזיכוי מהמס המחושב לפי מדרגות המס, תקבל את סכום המס שעליך לשלם בפועל.
    <br />
    כעת, נחשב את המס בפועל לאחר נקודות הזיכוי:
    <br />
    סך המס שחישבנו מקודם להכנסה של 144,000 הוא 18,192 ש"ח.
    <br />
    נוריד את סך ערך נקודות הזיכוי עבור 4 נקודות זיכוי: 11,616 - 18,192 = 6,576 ש"ח.
    <br />
    כך, התשלום בפועל לאחר נקודות הזיכוי הוא 6,576 ש"ח לשנה.
  </p>

  <p class="mb-3" style="font-size: 24px;">
    <strong>זכאות לנקודות זיכוי לחיילים משוחררים</strong><br />
  </p>

  <p class="mb-3">  חיילים שהשתחררו משירות חובה זכאים לנקודות זיכוי במס הכנסה על הכנסותיהם האישיות למשך 36 חודשים (3 שנים) לאחר השחרור.<br> זה אומר שהם ישלמו פחות מס הכנסה במהלך התקופה הזאת. <br> ההטבה ניתנת בנוסף ל-2.25 נקודות הזיכוי שניתנות לכל תושב ישראלי. נשים מקבלות חצי נקודה נוספת, כלומר נשים מקבלות 2.75 נקודות כבסיס.
  </p>



  <p class="mb-3">
    <strong>ערך ההטבה:</strong><br />
    <ul>
      <li>מי שזכאי לנקודת זיכוי אחת יקבל הנחה של 242 ש"ח לחודש (2,904 ש"ח לשנה).</li>
      <li>מי שזכאי לשתי נקודות זיכוי יקבל הנחה של 484 ש"ח לחודש (5,808 ש"ח לשנה).</li>
    </ul>
  </p>

  <p class="mb-3">
    <strong>תנאי הזכאות:</strong><br />
    הזכאות לנקודות זיכוי נקבעת לפי אורך השירות:
  </p>

  <img
    src="{{ url_for('static', filename='zikuy-points.png') }}"
    class="img-fluid border rounded-3 shadow-lg mb-4"
    alt="Tax Credit example"
    width="500"
    height="500"
  />

  <p class="mb-3">
    <ul>
      <li>חיילת ששירתה 20 חודשים: תקבל נקודת זיכוי אחת (242 ש"ח לחודש) למשך 36 חודשים מהחודש שלאחר השחרור.</li>
      <li>חייל ששירת 3 שנים: יקבל שתי נקודות זיכוי (484 ש"ח לחודש) למשך 36 חודשים מהחודש שלאחר השחרור.</li>
    </ul>
  </p>

  <p class="mb-3">
    <strong>דוגמה לחישוב מס לחיילת משוחררת</strong><br />
    נניח שחיילת משוחררת השתחררה לאחר שירות של מעל 22 חודשים ומקבלת 2 נקודות זיכוי נוספות בנוסף ל-2.25 נקודות הזיכוי הניתנות לכל תושב ישראל פלוס חצי נקודה בגלל שהיא אישה. ההכנסה השנתית שלה היא 126,000 ש"ח (10,500 ש"ח בחודש).
    <ul>
      <li><strong>חישוב המס ללא נקודות זיכוי:</strong><br />
        על 84,120 ש"ח ראשונים היא תשלם 10%: 8,412 ש"ח.<br />
        על 41880 ש"ח הבאים היא תשלם 14%: 5,863 ש"ח.<br />
        סך הכל המס לפי המדרגות הוא: 8,412 + 5,863 = 14,275 ש"ח.
      </li>
      <li><strong>חישוב נקודות הזיכוי:</strong><br />
        חיילת משוחררת עם 2 נקודות זיכוי נוספות ו-2.75 נקודות זיכוי על היותה תושבת ישראל:<br />
        סך הכל 4.75 נקודות זיכוי.<br />
        כל נקודת זיכוי שווה 2,904 ש"ח לשנה.<br />
        סך הכל ערך נקודות הזיכוי: 4.75 * 2,904 = 13,794 ש"ח לשנה.
      </li>
      <li><strong>הפחתת נקודות הזיכוי מהמס השנתי:</strong><br />
        סך המס לפני זיכוי: 14,275 ש"ח.<br />
        הפחתת ערך נקודות הזיכוי: 13,794 - 14,275 = 481 ש"ח.<br />
        כך, התשלום בפועל לאחר נקודות הזיכוי הוא 481 ש"ח לשנה.
      </li>
    </ul>
  </p>

  <p class="mb-3">
    <strong>תהליך מימוש הזכות</strong><br />
    <strong>שכירים:</strong> צריכים למלא <a href="https://www.gov.il/BlobFolder/service/itc101/he/Service_Pages_Income_tax_itc101.pdf" target="_blank">טופס 101</a> ולמסור אותו למעסיק בתחילת שנת המס. יש לצרף <a href="https://ishurim.prat.idf.il/Account/Login?ReturnUrl=%2f" target="_blank">תעודת שחרור</a> או סיום שירות.<br />
    <strong>עצמאים:</strong> ימלאו את הפרטים הרלוונטיים בצירוף תעודת שחרור/סיום שירות כאשר יגישו בסוף השנה את הדוח השנתי למס הכנסה.
  </p>

  <p class="mb-3">
    <strong>מידע נוסף</strong><br />
    <ul>
      <li>ההטבה ניתנת בנוסף ל-2.25 נקודות הזיכוי שניתנות לכל תושב ישראל. נשים מקבלות חצי נקודה נוספת, לכן נשים מקבלות 2.75 כבסיס.</li>
      <li>לפרטים נוספים ניתן לבקר באתר <a href="https://www.hachvana.mod.gov.il/Benefits/migufey/Pages/kitsbat.aspx" target="_blank">האגף והקרן לחיילים משוחררים</a> ובאתר <a href="https://www.misim.gov.il/" target="_blank">רשות המסים</a>.</li>
      <li>לסימולטור מס הכנסה <a href="https://secapp.taxes.gov.il/srsimulatorNZ/#/simulatorMasHachnasah#top" target="_blank">לחצו כאן</a></li>

    </ul>
  </p>
  <a href="{{ url_for('page', page_id=6) }}" class="btn btn-primary"
    >עמוד הבא</a
  >
  <a href="{{ url_for('page', page_id=4) }}" class="btn btn-secondary"
  >חזור לעמוד הקודם</a>
</div>
{% endblock %}
