{% extends "base.html" %} {% block content %}
<div
  class="container"
  style="direction: rtl; text-align: right; margin-top: 30px"
>
  <h1 class="display-4 mb-4">
    <strong>פקדון שחרור</strong>
  </h1>
  <p class="lead mb-lg-3">פיקדון שחרור לחיילים משוחררים:</p>

  <p class="lead mb-4">
    הפיקדון האישי היא הטבה לכל חייל משוחרר, הנועדה לסייע לכם להתחיל את החיים
    האזרחיים עם יתרון כספי משמעותי. הנה כל מה שאתם צריכים לדעת על הפיקדון האישי:
  </p>
  <p class="mb-3">
    <strong>מה זה פיקדון אישי?</strong><br />
    פיקדון אישי הוא סכום כסף שנצבר עבורכם במהלך השירות הצבאי, ומטרתו לתמוך בכם
    במעבר לחיים האזרחיים.
  </p>

  <p class="mb-3">
    <strong>הכספים יכולים לשמש למטרות הבאות בלבד:</strong>
    <br />
    לימודים אקדמיים ולימודי פסיכומטרי: תואר ראשון, תואר שני או לימודי תעודה.
    <br />
    קורסים והכשרות מקצועיות וטכנולוגיות: קורסים והכשרות במגוון תחומים. <br />
    נישואין: מימון הוצאות החתונה.<br />
    מימון עסק עצמאי: סיוע בהקמת עסק חדש.<br />
    לימודי נהיגה: מימון הוצאות לימודי נהיגה.<br />
    רכישת דירה, בית או קרקע לבניית בית: השתתפות במימון רכישת דירה או קרקע
    לבנייה.
  </p>

  <p class="mb-3">
    בוא נחשב את הפקדון לחייל ששירת כלוחם במשך שנתיים ושמונה חודשים (32 חודשים),
    עם חודשיים טירונות שנחשבים כתומך לחימה.
  </p>
  <img
    src="{{ url_for('static', filename='../static/pikadon.png') }}"
    class="img-fluid border rounded-3 shadow-lg mb-4"
    alt="Example image"
    width="500"
    height="500"
    loading="lazy"
  />

  <p class="mb-5">
    *הערות: מסלול אזרחי ביניים ומסלול אזרחי מפוצל מתייחסים למסלולים ייחודיים
    בעלי אופי אזרחי מסוים במהלך השירות.
  </p>

  <p class="mb-4">
    <strong>חישוב פיקדון אישי:</strong><br />
    חודשי שירות כלוחם:<br />
    30 חודשים (2 שנים ו-8 חודשים פחות 2 חודשים של טירונות). סכום למשרת קרבי:
    כ-940.86 ש"ח לחודש. סך הכל: 30 חודשים x 940.86 ש"ח = 28,225.80 ש"ח <br />

    חודשי שירות כתומך לחימה:<br />
    2 חודשים. סכום למשרת תומך לחימה: 784.05 ש"ח לחודש. סך הכל: 2 חודשים x 784.05
    ש"ח = 1,568.10 ש"ח.
    <br />
    סה"כ פיקדון אישי: 28,225.80 ש"ח + 1,568.10 ש"ח = <strong>29,793.90 ש"ח.</strong>
  </p>
    למחשבון פיקדון שחרור:
    <a
      href="https://www.hachvana.mod.gov.il/GrantAndDeposit/DepositUpTo5/Pages/default.aspx"
      target="_blank"
      >לחצו כאן</a
    >.
  </p>
  <a href="{{ url_for('page', page_id=4) }}" class="btn btn-primary"
    >עמוד הבא</a
  >
  <a href="{{ url_for('page', page_id=2) }}" class="btn btn-secondary"
  >חזור לעמוד הקודם</a>
</div>
</div>
{% endblock %}
